* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  justify-content: flex-start;
  padding: 30px;
  background-color: rgb(206, 202, 202);
}
.recipe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  width: 859px;
  margin-bottom: 25px;
  height: 320px;
  background: #ffffff;
  border-radius: 12px;
  gap: 20px;
}
.recipeblog__item {
  display: flex;
  gap: 30px;
}
.recipeblog__item__left img {
  width: 322px;
  height: 274px;
  border-radius: 12px;
}

.recipeblog__item__right p:nth-child(1) {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 25px;
  color: #4f4f4f;
}

.recipeblog__item__right p:nth-child(2) {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 25px;
  color: #333333;
}
.recipeblog__item__right p:nth-child(3) {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 25px;
  color: #828282;
}
.blue,
.white {
  width: 136.27px;
  height: 46px;
  margin: 10px auto;
  box-sizing: border-box;
  background: #5c94e1;
  border-radius: 12px;

  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
}
.blue :hover {
  cursor: pointer;
}
.white :hover {
  cursor: pointer;
}
